 *{
    margin: 0;
} 
body{
    font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}


.banner{
    background: #FAFAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px 0 190px;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 130px;
    
}

.banner-title{
    color: #121212;
    font-size: 65px;
    font-weight: 700;
}
.banner-description{
    color: #707070;
font-size: 18px;
font-weight: 500;
margin: 20px 0 30px ;
}
.btn-primary{
    border-radius: 5px;
    border: none;
background: #FF5959;
padding: 16px 12px;
text-align: center;
color: #FFF;
font-size: 20px;
font-weight: 600;
}

.video{
    color: #707070;
font-size: 18px;
font-weight: 600;
margin-left: 40px;
}

.donate{
    margin: 0 350px 130px;
    text-align: center;
    align-items: center;
}
.donate-title{
    color: #121212;
font-size: 45px;
font-weight: 700;
}
.donate-description{
    color: #707070;
font-size: 18px;
font-weight: 400;
margin-top: 20px;
}
.donate-content{
    margin: 80px 0 80px;
}
.content-1{
    border-radius: 5px;
background:#FAFAFA;
color: #707070;
font-size: 30px;
font-weight: 700;
padding: 35px  25px;
margin-right: 20px;
}
.content-2{
    border-radius: 5px;
border: 2px solid #FF5959;
background: #FEE;
color: #FF5959;
font-size: 30px;
font-weight: 700;
padding: 35px 25px;
margin-right: 20px;
}
.content-3{
    border-radius: 5px;
background: #FAFAFA;
color: #707070;
font-size: 30px;
font-weight: 700;
padding: 35px 25px;
margin-right: 20px;
}
.content-4{
    border-radius: 5px;
    background: #FAFAFA;
    color: #707070;
font-size: 30px;
font-weight: 700;
padding: 35px 25px;
margin-right: 20px;
}
.content-5{
    border-radius: 5px;
    background: #FAFAFA;
    color: #707070;
font-size: 30px;
font-weight: 700;
padding: 35px 25px;

}
.donate-info{
    color: #B3B3B3;
font-size: 18px;
font-weight: 400;
}
 #line{
    margin: 10px 170px 30px;
    color: #B3B3B3;

}
