 *{
    margin: 0;
} 
body{
    font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}


.banner{
    background: #FAFAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px 0 190px;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 130px;
    
}

.banner-title{
    color: #121212;
    font-size: 65px;
    font-weight: 800;
}
.banner-description{
    color: #707070;
font-size: 18px;
font-weight: 500;
margin: 20px 0 30px ;
}
.btn-primary{
    border-radius: 5px;
    border: none;
background: #FF5959;
padding: 16px 12px;
text-align: center;
color: #FFF;
font-size: 20px;
font-weight: 600;
}

.video{
    color: #707070;
font-size: 18px;
font-weight: 600;
margin-left: 40px;
}

.donate{
    margin: 0 350px 130px;
    text-align: center;
    align-items: center;
}
.donate-title{
    color: #121212;
font-size: 45px;
font-weight: 800;
}
.donate-description{
    color: #707070;
font-size: 18px;
font-weight: 400;
margin-top: 20px;
}
.donate-content{
    margin: 80px 0 80px;
}
.content-1{
    border-radius: 5px;
background:#FAFAFA;
color: #707070;
font-size: 30px;
font-weight: 700;
padding: 35px  25px;
margin-right: 20px;
}
.content-2{
    border-radius: 5px;
border: 2px solid #FF5959;
background: #FEE;
color: #FF5959;
font-size: 30px;
font-weight: 700;
padding: 35px 25px;
margin-right: 20px;
}
.content-3{
    border-radius: 5px;
background: #FAFAFA;
color: #707070;
font-size: 30px;
font-weight: 700;
padding: 35px 25px;
margin-right: 20px;
}
.content-4{
    border-radius: 5px;
    background: #FAFAFA;
    color: #707070;
font-size: 30px;
font-weight: 700;
padding: 35px 25px;
margin-right: 20px;
}
.content-5{
    border-radius: 5px;
    background: #FAFAFA;
    color: #707070;
font-size: 30px;
font-weight: 700;
padding: 35px 25px;

}
.donate-info{
    color: #B3B3B3;
font-size: 18px;
font-weight: 400;
}
 #line{
    margin: 10px 170px 30px;
    color: #B3B3B3;

}
.plan{
    text-align: center;
    margin:0 375px 50px ;
}

.plan-title{
    color: #121212;
font-size: 45px;
font-weight: 800;
margin-bottom: 25px;
}
.plan-description{
    color: #707070;
font-size: 18px;
font-weight: 400;

}
.exhibition{
 
    margin: 0 300px 130px;
    display: flex;
    justify-content: space-between;
    
}
.exhibition-1{
    border-radius: 5px;
background: rgba(79, 157, 166, 0.10);

padding: 64px 23px 54px 23px;
width: 350px;
height: 250px;


}
.exhibition-2{
    border-radius: 5px;
background: rgba(255, 89, 89, 0.10);

padding: 64px 23px 54px 23px;
width: 350px;
height: 250px;

}
.exhibition-3{
    border-radius: 5px;
background: #FFF4D6;
padding: 64px 23px 54px 23px;
width: 350px;
height: 250px;

}
.exhibition-title{
    color: #121212;
font-size: 24px;
font-weight: 600;
padding: 34px 0 20px ;
}
.exhibition-description{
    color: #707070;
font-size: 16px;
font-weight: 400;

}

.homeless{
    margin: 0 450px 100px 300px;
    display: flex;
    align-items: center;
   
    justify-content: space-between;
}
.homeless-title{
    color: #121212;
font-size: 45px;
font-weight: 800;
}
.homeless-description-1{
    color: #707070;
font-size: 18px;
font-weight: 400;
margin: 20px 0 ;
}
.homeless-description-2{
    color: #707070;
font-size: 18px;
font-weight: 400;
margin-bottom: 30px;
}
.btn-primary-1{
    border-radius: 5px;
    border: none;
background: #FF5959;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 600;
padding: 16px 12px;
}

.life{
    margin: 0 450px 130px 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.life-title{
    color: #121212;
    font-size: 45px;
    font-weight: 800;
}
.life-description-1{
    color: #707070;
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0 ;
}
.life-description-2{
    color: #707070;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}


.update{
    text-align: center;
    align-items: center;
}
.update-title{
    color: #121212;
font-size: 45px;
font-weight: 800;
}
.update-description{
    color: #707070;
font-size: 18px;
font-weight: 400;
margin: 20px 0 50px;
}

.subscrib{
    background: #FFF4D6;
    margin: 0 450px 130px;
    padding: 76px 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0;
    display: flex;
}
.email{
    border-radius: 5px 0px 0px 5px;
    border: none;
background: #D9D9D9;
    color: #AA9F9F;
font-size: 16px;
font-weight: 500;
padding:14px 218px 14px 17px ;
}
.btn-primary-2{
    border-radius: 0px 5px 5px 0px;
    border: none;
background: #FF5959;
color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 500;
padding: 14px 43px;
}

.humble{
    background:  #0B0D17;
     
    padding: 43px 629px 42px 653px;
     justify-content: center; 
    align-items: center;
    text-align: center;
}
.humble-title{
    color: #FF5959;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 24px;
    font-feature-settings: 'clig' off, 'liga' off;
font-family: Lobster;
}
.humble-info{
    color: #D9DBE1;
    font-size: 14px;
    font-weight: 400;

}